.button {
    padding : 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4CAF50;
    color: white
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.input {
    padding : 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}